html,body{
  height: 100%;
  margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.596);
    padding: 0px;
}
.container{
    display: flex;
    background-color: aliceblue;
    width: 100%;
    justify-content: center
}
.interface{
    width: 15%;
    font-size: 32px;
    font-weight: bold;
    color: red;
    text-align: center;
    border: 6px solid #4F58FD;
    padding: 16px;
    border-radius: 4px;
    margin-left: -15%;
}
header{
        height: 10%;
        font-size: 32px;
        font-weight: bolder;
        color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: antiquewhite;
}
h1{
    height: 5%;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet
}
footer{
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.grid{
    display: grid;
    height: 700px;
    width: 700px;
    padding: 24px;
}
.grid-item{
    background-color: white;
    border: none;
}
.grid-8x8{
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.grid-16x16{
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}
.grid-32x32{
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
}
.grid-64x64{
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(64, 1fr);
}
.options-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}
.reset-container{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}